# This file is used during publishing from CI/CD
# The NPM_TOKEN environment variable should be set in GitHub Secrets
# For publishing to npm registry:
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}

# For publishing to GitHub Packages (uncomment if using):
# @CyAScott:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
